<div class="item-container" id="formHolder">	
	<div style="width:800px;">		
		<%= form_remote_tag(:url => {:action => "ajax_create"}) %>
					
			<%= render :partial => "signup"%>	
			<div style="clear:both"></div>
			<div style="margin-top: 20px">
				<div style="float: left; margin-top: 5px;">
					<p  style=''><%= image_submit_tag ("create-btn.png") %></p>

				</div>
			</div>
	</form>	
</div>
</div>


<div style="clear:both"></div>
