<div style="width:320px">
  <div style="float:left">
	  <%= text_field_tag :search, @search %>
	</div>
	<div>
	  <%= check_box_tag :barcode, true %> Use barcode scanner
  </div>
</div>
<script>
   // search item
   // check if barcode is checked and do item add auto
   // if not do search by name
   
   //$('#barcode').is(':checked')
   
   //simple_search('search', '/item_assignments/search_item')
   

  $('#search').keyup(function(event) {
    
    if($('#barcode').is(':checked')){
      if(event.keyCode == '13'){
        jQuery.ajax({
       	  url: '/item_assignments/search_item',
       	  type: 'POST',
       	  data: { search: $('#search').val(), barcode: 1 } ,
       	  success: function(data) {}
       	})
      }
    }else{ 
      jQuery.ajax({
     	  url: '/item_assignments/search_item',
     	  type: 'POST',
     	  data: { search: $('#search').val(), barcode: 0 },
     	  success: function(data) {}
     	})
    }
  })
 
 
  
</script>