<div class="header-textproj">
	<div style="width:400px">Employee Borrowed Items for this Project</div>
	<div class="border-filler"></div>
</div>
<div id="message_area" style="display:none"></div>
<div class="headtitle">
	<div class="headtxt">Items Borrowed</div>
</div>
<div id="borrowed_item_list_table">
  
	  <%= render :partial => 'user_borrowed_item_list_table' %>
	
</div>
