<div class="item-container" id="formHolder">	
	<div>
	 	<div>
			<div id="form-container">
				<%= render :partial => 'project_details' %>
			</div>
			<div style="clear:both"></div>
	   </div>
	   
	   <div class="border-filler"></div>	   
	   <br /><br />
	   <div id="message_area" style="display:none"></div>
	   <div>
			<%= render :partial => 'user_list' %>   		
	   </div>
	   <br /><br />
	   <div class="border-filler"></div>	   
	   <div id="user_assigned_holder">
			<%= render :partial => 'assigned_users' %>   		
	   </div>
   	</div>
</div>
