<table class="listing" width="100%" cellspacing=0 cellpadding=0>
	<thead class="lhead">
		<th>Employee Name</th>		
		<th width="10%">Designation</th>
		<th width="20px">&nbsp;</th>
	</thead>
	<tbody>
		<% for user in @users do %>
			<tr class="<%= cycle('odd','')%>" >					
				<td><%= user.full_name %></td>						
				<td><%= user.designation %></td>							
				<td>
					<%= link_to_remote image_tag('banners_add.gif', :title => 'Click to Add'),
	 	             	                    :url => {  :action => 'ajax_assigned_user', 
	 	             	                              :id => user.id, :project_id => @project.id } %>                         											
				</td>
			</tr>				
		<% end %>
	</tbody>
</table>
<div class="list-footer"></div>