<div class="item-container" id="formHolder">	
		<div id="form-container">
			<div class="header-textproj">
				<div style="width:100px">Employee Details</div>
				<div class="border-filler"></div>
			</div>
			<div class="field-holder">
				<div id="form-label">
					Employee Name :
				</div>
				<div id="form-field">
					<%= text_field :project, :name, {:disabled => true, :value => @employee.full_name } %>
				</div>
			</div>
			<div class="field-holder">
				<div id="form-label">
					Comment :
				</div>
				<div id="form-field">
					<%= text_area :project, :comment,  {:disabled => true, :style => "height: 30px;"} %>
				</div>
			</div>
			<div class="field-holder">
			<div id="form-label">
				Prepared By: 
			</div>
			<div id="form-field">
		    <input type='hidden' value='<%= current_user.id %>' name='header[user_id]'>
				<%= text_field :id, :user, :disabled => true, :value => "#{current_user.name} @ #{Time.now.strftime('%Y/%m/%d')}" %> 
			</div>
		</div>
</div>
<div style="clear:both"></div>
								
						
			
			