<div class="topheadtitle">
		
	<div class="headtxt">Project details</div>
	</div>	
	
	<%= render :partial => "project_details" %>
	
	<div class="border-filler"></div>
	
	<div class="lcontent" id="list" style="padding-bottom: 0px;">
	<%= render :partial => "assign_item_list", :locals => { :assigned_items => @item.item_releases } %>
	</div>
	
	<div id="item_list_table">
		<%= render :partial => 'item_return', :locals => { :returned_items => @item.item_returns } %>
	</div>

</div>